BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "lumUP" SITE "M14" ;
LOCATE COMP "lumDN" SITE "N14" ;
LOCATE COMP "frqUP" SITE "L14" ;
LOCATE COMP "frqDN" SITE "M13" ;
LOCATE COMP "col[3]" SITE "N6" ;
LOCATE COMP "col[2]" SITE "P6" ;
LOCATE COMP "col[1]" SITE "N5" ;
LOCATE COMP "col[0]" SITE "L3" ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "row[3]" SITE "P7" ;
LOCATE COMP "row[2]" SITE "N7" ;
LOCATE COMP "row[1]" SITE "P8" ;
LOCATE COMP "row[0]" SITE "N8" ;
LOCATE COMP "led[7]" SITE "P9" ;
LOCATE COMP "led[6]" SITE "N9" ;
LOCATE COMP "led[5]" SITE "N10" ;
LOCATE COMP "led[4]" SITE "P11" ;
LOCATE COMP "led[3]" SITE "M11" ;
LOCATE COMP "led[2]" SITE "P12" ;
LOCATE COMP "led[1]" SITE "M12" ;
LOCATE COMP "led[0]" SITE "N13" ;
