BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "a[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "f" IO_TYPE=LVCMOS33 ;
